<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.wecare">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeCare">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.project.wecare"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".VehiclesActivity"
            android:exported="false" />
        <activity
            android:name=".AccidentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewClaimActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordActivity"
            android:exported="false" />
        <activity
            android:name=".ClaimActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>