<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.wecare">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeCare">
        <activity
            android:name=".screens.Base2Activity"
            android:exported="false" />
        <activity
            android:name=".screens.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".screens.newClaimForm.Claim4Activity"
            android:exported="false" />
        <activity
            android:name=".screens.newClaimForm.Claim3Activity"
            android:exported="false" />
        <activity
            android:name=".screens.newClaimForm.Record2Activity"
            android:exported="false" />
        <activity
            android:name=".screens.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screens.newClaimForm.Claim2Activity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.project.wecare"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".screens.viewVehicles.VehiclesActivity"
            android:exported="false" />
        <activity
            android:name=".screens.viewClaims.ViewClaimActivity"
            android:exported="false" />
        <activity
            android:name=".screens.login.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.newClaimForm.RecordActivity"
            android:exported="false" />
        <activity
            android:name=".screens.newClaimForm.ClaimActivity"
            android:exported="false" />
        <activity
            android:name=".screens.viewClaims.ViewClaimsListActivity"
            android:exported="false" />
        <activity
            android:name=".screens.login.MainActivity"
            android:exported="false" />
    </application>

</manifest>